In [32]:
import pandas as pd
import numpy
import re

In [33]:
df = pd.read_csv('Roster.csv')
df

C:\Users\lincoln.rychecky\Anaconda3\envs\deal\lib\site-packages\IPython\core\interactiveshell.py:3051: DtypeWarning: Columns (3,4,7,8,9,10,11,13,14,15,16,17,18,19,20,22,23,24,25,26,29,30,31,33,35,36,37,41,42,46,47,48,51,52,54,55,56,57,58,59,60,61,62,63,64,65) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,DateOfExport,PlatformKey,Job,JobAbbreviation,NameOfJob,TalentSegmentDescr,StandardJobDescr,PositionDescription,CareerTrackDescr,TalentSegmentGrouping,...,ProfitCenterDescr,CostCenterLongDescr,NameOfCostCenterLevel1,NameOfCostCenterLevel2,NameOfCostCenterLevel3,NameOfCostCenterLevel4,NameOfCostCenterLevel5,Rating1,Rating2,Rating3
0,6/30/2020,85116,10000120,120,12,Software Engineering,Anls,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6/30/2020,85112,10000110,110,11,Software Engineering,Anls,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6/30/2020,85110,10000120,120,12,Software Engineering,Anls,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6/30/2020,85109,10000110,110,11,Analytics,Anls,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6/30/2020,85108,10000080,80,8,Human Resources,Sr Cons,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
750071,1/31/2018,1,10000080,80,8,Software Engineering,Sr Cons,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
750072,11/30/2017,1,10000050,50,5,Human Resources,Sr Dir,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
750073,10/31/2017,1,10000110,110,11,ERP,Anls,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
750074,9/30/2017,1,10000110,110,11,Business Operations,Anls,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
750075,4/30/2015,1,10000120,120,12,Solution Developer,Analyst - SD,Analyst,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
df.replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)

In [35]:
df

,DateOfExport,PlatformKey,Job,JobAbbreviation,NameOfJob,TalentSegmentDescr,StandardJobDescr,PositionDescription,CareerTrackDescr,TalentSegmentGrouping,...,ProfitCenterDescr,CostCenterLongDescr,NameOfCostCenterLevel1,NameOfCostCenterLevel2,NameOfCostCenterLevel3,NameOfCostCenterLevel4,NameOfCostCenterLevel5,Rating1,Rating2,Rating3
0,6/30/2020,85116,10000120,120,12,Software Engineering,Anls,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6/30/2020,85112,10000110,110,11,Software Engineering,Anls,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6/30/2020,85110,10000120,120,12,Software Engineering,Anls,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6/30/2020,85109,10000110,110,11,Analytics,Anls,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6/30/2020,85108,10000080,80,8,Human Resources,Sr Cons,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
750071,1/31/2018,1,10000080,80,8,Software Engineering,Sr Cons,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
750072,11/30/2017,1,10000050,50,5,Human Resources,Sr Dir,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
750073,10/31/2017,1,10000110,110,11,ERP,Anls,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
750074,9/30/2017,1,10000110,110,11,Business Operations,Anls,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
750075,4/30/2015,1,10000120,120,12,Solution Developer,Analyst - SD,Analyst,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
df.to_csv(r'./outputs/Roster.csv', header='true')